@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HMS AdminPanel</title>
	<link rel="icon" type="image/svg" href="/icons/Hotelzzz.svg" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="~/css/AdminPanel.css" rel="stylesheet">
    <link href="~/css/AdminLayout.css" rel="stylesheet">
    
    @await RenderSectionAsync("Styles", required: false)

</head>
<body class="min-h-screen bg-gradient-to-br from-blue-50 via-indigo-50 to-purple-50">
	@await Html.PartialAsync("Partials/PageLoader")

    @RenderBody()
    
	@await Html.PartialAsync("Partials/Toast") @*Toast for user login registration clarification and notifications*@

	<input type="hidden" id="modalTrigger" value="@TempData["Info"]" /> @* this is used to trigger the modals*@
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src ="~/lib/AdminPanel.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/toast.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
