@* // this is gallery.cshtml *@
@* make all the pictures dynamic and use the same style as in the Gallery.cshtml file *@


<div class="container mx-auto h-full py-14">
    <div class="flex flex-wrap md:-m-2">
        <div class="flex w-1/2 flex-wrap">
            <div class="h-48 w-1/2 p-1 md:p-2">
                <Image alt="gallery" class="img" src="/TempPictures/hero-1.jpeg" width={200} height={200} />
            </div>
            <div class="h-48 w-1/2 p-1 md:p-2">
                <Image alt="gallery" class="img" src="/TempPictures/hero-2.jpeg" width={200} height={200} />
            </div>
            <div class="h-48 w-full p-1 md:p-2">
                <Image alt="gallery" class="img" src="/TempPictures/hero-3.jpeg" width={200} height={200} />
            </div>
        </div>
        <div class="flex w-1/2 flex-wrap">
            <div class="h-48 w-full p-1 md:p-2">
                <Image alt="gallery" class="img" src="/TempPictures/hero-1.jpeg" width={200} height={200} />
            </div>
            <div class="h-48 w-1/2 p-1 md:p-2">
                <Image alt="gallery" class="img" src="/TempPictures/hero-2.jpeg" width={200} height={200} />
            </div>
            <div class="h-48 w-1/2 p-1 md:p-2">
                <Image alt="gallery" class="img" src="/TempPictures/hero-3.jpeg" width={200} height={200} />
            </div>
        </div>
    </div>
</div>