<div class="m-10 container">
    <h1 class="text-3xl font-bold">Welcome to the Home Page</h1>
    <p class="mt-4">This is the main content of the home page.</p>
    <p class="mt-4">You can add more content here.</p>

    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>index
    <hr>

</div>