<section class="flex px-4 items-center gap-12 container mx-auto">
    <div class="py-10 h-full ">
        <h1 class=" font-heading mb-6"> Explore Our Exquisite Hotel </h1>
        <p class="text-[#4a4a4a] dark:text-[#ffffffea] mb-12 max-w-lg ">
            Experience an Exquisite Hotel Immersed in Rich History and Timeless Elegance.
        </p>
        <button class="btn btn-primary">Get Started</button>
        <div class="flex justify-between mt-12">
            <div class="flex gap-3 flex-col items-center justify-center">
                <p class="text-sm lg:text-xl text-center">Basic Room</p>
                <p class="md:font-bold font-medium text-lg xl:text-5xl">+20</p>
            </div>
            <div class="flex gap-3 flex-col items-center justify-center">
                <p class="text-sm lg:text-xl text-center">Luxury Room</p>
                <p class="md:font-bold font-medium text-lg xl:text-5xl">+20</p>
            </div>
            <div class="flex gap-3 flex-col items-center justify-center">
                <p class="text-sm lg:text-xl text-center">Suite</p>
                <p class="md:font-bold font-medium text-lg xl:text-5xl">+20</p>
            </div>
        </div>
    </div>
    <div class="md:grid hidden gap-8 grid-cols-1">
        <div class="rounded-2xl overflow-hidden h-48">
            <img src="/TempPictures/hero-1.jpeg" alt="l" width="300" height="300" class="img scale-animation" />
        </div>
        <div class="grid grid-cols-2 gap-8 h-48">
            <div class="rounded-2xl overflow-hidden">
                <img src="/TempPictures/hero-2.jpeg" alt="l" width="300" height="300" class="img scale-animation" />
            </div>
            <div class="rounded-2xl overflow-hidden">
                <img src="/TempPictures/hero-3.jpeg" alt="l" width="300" height="300" class="img scale-animation" />
            </div>
        </div>
    </div>



</section>