   <div id="errorAlert" class="fixed top-5 right-5 z-50 bg-red-500 text-white px-6 py-4 rounded-lg shadow-lg transition-opacity duration-500 ease-in-out opacity-100">
        <div class="flex items-center space-x-2">
            <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M6 18L18 6M6 6l12 12" />
            </svg>
            @* <span>@TempData["Error"]</span> *@
            <span> This is an Error Message</span>
        </div>
    </div>