@* <!-- Loading Spinner Overlay -->
<div id="globalLoader"
     class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="w-16 h-16 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
</div> *@

<div id="localLoader"
     class="absolute inset-0 z-10 flex items-center justify-center bg-white bg-opacity-20 hidden">
    <div class="flex space-x-2">
        <div class="loader-dot"></div>
        <div class="loader-dot"></div>
        <div class="loader-dot"></div>
        <div class="loader-dot"></div>
        <div class="loader-dot"></div>
    </div>
</div>

