@model HotelManagementSite.Models.ViewModels.LogInModel;

<div id="loginModal" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-black bg-opacity-50">
    <div id="loginContent"
        class="-translate-y-10 w-full max-w-md scale-95 transform rounded-lg bg-gray-900 p-8 text-white opacity-0 shadow-xl transition-all duration-500">
        <div class="mb-6 flex items-start justify-between">
            <div class="space-y-1">
                <h1 class="text-3xl font-bold">Welcome back!</h1>
                <h2 class="text-xl">Login to your account</h2>
                <p class="text-sm text-gray-300">It's nice to see you again. Let's Book a Room</p>
            </div>
            <button type="button" onclick="hideModal('loginModal')"
                class="flex h-8 w-8 items-center justify-center rounded-lg text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
                <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <form asp-controller="Account" asp-action="LogIn" method="post" >
            <div class="mb-4">
                <input required asp-for="UserName" type="text" placeholder="Username"
                    class="w-full rounded border border-gray-700 bg-gray-800 p-3 text-white"/>
                <span asp-validation-for="UserName" class="text-sm text-red-500"></span>
            </div>
            <div class="mb-4">
                <input required asp-for="Password" type="password" placeholder="Password"
                    class="w-full rounded border border-gray-700 bg-gray-800 p-3 text-white" />
                <span asp-validation-for="Password" class="text-sm text-red-500"></span>
            </div>
            <button type="submit" class="w-full rounded bg-indigo-700 p-3 font-bold hover:bg-indigo-800">Log In</button>

            <div class="mb-6 mt-4 flex items-center justify-between">
                <label class="flex items-center text-sm">
                    <input asp-for="RememberMe" type="checkbox" class="form-checkbox mr-2 text-blue-500" />
                    Remember me
                </label>
                <a href="#" class="text-sm text-blue-500">Forgot password?</a>
            </div>
        </form>

        <div class="my-6 flex items-center">
            <hr class="w-full border-gray-700">
            <span class="mx-4 text-sm text-gray-400">or</span>
            <hr class="w-full border-gray-700">
        </div>

        <div class="mb-4 flex justify-center">
            <button class="flex w-full items-center justify-center rounded bg-white px-4 py-2 font-bold text-black">
               <svg class="me-1 h-5 w-5" viewBox="-0.5 0 48 48 " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-background-000000, #181a1b);" data--h-bstatus="0OBSERVED"><g id="SVGRepo_bgCarrier" stroke-width="0" data--h-bstatus="0OBSERVED"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" data--h-bstatus="0OBSERVED"></g><g id="SVGRepo_iconCarrier" data--h-bstatus="0OBSERVED"> <title data--h-bstatus="0OBSERVED">Google-color</title> <desc data--h-bstatus="0OBSERVED">Created with Sketch.</desc> <defs data--h-bstatus="0OBSERVED"> </defs> <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: none;" data--h-bstatus="0OBSERVED"> <g id="Color-" transform="translate(-401.000000, -860.000000)" data--h-bstatus="0OBSERVED"> <g id="Google" transform="translate(401.000000, 860.000000)" data--h-bstatus="0OBSERVED"> <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-background-fbbc05, #bd8d03);" data--h-bstatus="0OBSERVED"> </path> <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-background-eb4335, #a81c11);" data--h-bstatus="0OBSERVED"> </path> <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-background-34a853, #2b8c45);" data--h-bstatus="0OBSERVED"> </path> <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4" data-darkreader-inline-fill="" style="--darkreader-inline-fill: var(--darkreader-background-4285f4, #0943a2);" data--h-bstatus="0OBSERVED"> </path> </g> </g> </g> </g></svg>
                Continue with Google
            </button>
        </div>

        <div class="mb-6 flex justify-around space-x-2">
            <button class="flex w-full items-center justify-center rounded bg-blue-700 px-4 py-2 text-white">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png" class="mr-2 h-5 w-5" />
                LinkedIn
            </button>
            <button class="flex w-full items-center justify-center rounded bg-gray-800 px-4 py-2 text-white">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/github.png" class="mr-2 h-5 w-5" />
                GitHub
            </button>
            <button class="flex w-full items-center justify-center rounded bg-blue-600 px-4 py-2 text-white">
                <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" class="mr-2 h-5 w-5" />
                Facebook
            </button>
        </div>

        <p class="text-center text-sm text-gray-300">
            Don't have an account?
            <a href="#" onclick="toggleModals('registerModal', 'loginModal')" class="text-blue-500">Sign up</a>
        </p>
    </div>
</div>
